{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-md-10 text-center">
<h1>Wellcome admin</h1>
    <img src="{{ asset('images/background.jpg') }}" width="80%" height="80%">
</div>
{% endblock %}